html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  max-width: 1400px;
  margin: 0 auto;
  height: 100vh;
  font-size: 1.4rem;
  font-family: 'Roboto Slab', serif;
  color: #121;
}

.mont {
  font-family: 'Montserrat', sans-serif;
}
